<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Import</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        ::-webkit-scrollbar{
            width: 0;
        }
        .container.center{
            margin-top: 1em;
            padding: 1em 1em 2em 1em;
        }
    </style>

</head>
<body>
    <div class="container">
        <h1>CSV Import</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
              <div class="btn">
                <span>CSV File</span>
                <input type="file" name="csv">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" name="csv-title">
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Upload</button>
        </form>
    </div>
    <% if(typeof students !== 'undefined' && students.length > 0) {%>
        <div class="container center z-depth-1">
                <p class="flow-text indigo-text">Student Results</p>
            <table class="centered highlight responsive-table">
                <thead>
                  <tr>
                      <th>School_ID</th>
                      <th>Name</th>
                      <th>Class</th>
                      <th>Email</th>
                      <th>Subject__1</th>
                      <th>Subject__2</th>
                      <th>Subject__3</th>
                      <th>Subject__4</th>
                      <th>Subject__5</th>
                  </tr>
                </thead>
                <tbody>
                  <% students.forEach(student => { %>
                    <tr>
                        <td><%= student.school_id %> </td>
                        <td><%= student.name %> </td>
                        <td><%= student.class %> </td>
                        <td><%= student.email %> </td>
                        <td><%= student.marks__s1 %> </td>
                        <td><%= student.marks__s2 %> </td>
                        <td><%= student.marks__s3 %> </td>
                        <td><%= student.marks__s4 %> </td>
                        <td><%= student.marks__s5 %> </td>
                    </tr>
                  <% }) %> 
                </tbody>
              </table>
        </div>
    <% } %>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <% if(typeof error !== 'undefined') { %>
        <script>
            let error = '<%= error %>';
            if(error.includes('Error:')){
                error = error.slice(7);
            }
            M.toast({html: error});
        </script>
        <% } %>  
</body>
</html>